<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:minWidth="25px"
    android:minHeight="25px"
    android:weightSum="10"
    android:background="@android:color/holo_blue_light">
    <LinearLayout
        android:layout_width="fill_parent"
        android:layout_height="0dip"
        android:layout_weight="1"
        android:background="@drawable/header"
        android:orientation="horizontal">
        <Button
            android:id="@+id/backButton"
            android:layout_width="wrap_content"
            android:background="@drawable/back_icon"
            android:layout_gravity="right"
            android:layout_height="wrap_content"
            android:scaleX="0.5"
            android:scaleY="0.5"
            android:baselineAlignBottom="false"
            android:cropToPadding="true"
            android:adjustViewBounds="true"
            android:fitsSystemWindows="false" />
    </LinearLayout>
    <ScrollView
        android:layout_width="match_parent"
        android:layout_height="0dip"
        android:scrollbars="vertical"
        android:layout_weight="9"
        android:layout_alignParentTop="true">
        <LinearLayout
            android:layout_width="fill_parent"
            android:layout_height="match_parent"
            android:orientation="vertical">
            <TextView
                android:id="@+id/textView"
                android:layout_height="wrap_content"
                android:layout_width="wrap_content"
                android:textColor="@android:color/white"
                android:textSize="30dp"
                android:text="Een spel bestaat uit verschillende rondes. Bij iedere ronde krijg je enkele afbeeldingen en een geluidje dat afgespeeld wordt. "
                android:paddingLeft="8dp" />
            <TextView
                android:id="@+id/textView"
                android:layout_height="wrap_content"
                android:layout_width="wrap_content"
                android:textColor="@android:color/white"
                android:textSize="30dp"
                android:text="Bij elke ronde probeer jij de juiste afbeelding te kiezen dat bij het geluidje hoort door op de afbeelding te klikken."
                android:paddingLeft="8dp"
                android:paddingBottom="30dp" />
            <TextView
                android:id="@+id/textView"
                android:layout_height="wrap_content"
                android:layout_width="wrap_content"
                android:textColor="@android:color/white"
                android:textSize="30dp"
                android:text="Op het einde van een spel krijg je je score te zien en wordt de hoogste score per niveau opgeslagen."
                android:paddingLeft="8dp"
                android:paddingBottom="30dp" />
            <TextView
                android:id="@+id/textView"
                android:layout_height="wrap_content"
                android:layout_width="wrap_content"
                android:textColor="@android:color/white"
                android:textSize="30dp"
                android:text="Indien je meer dan 75% van de afbeeldingen correct had, wordt het volgende niveau vrijgespeeld"
                android:paddingLeft="8dp" />
        </LinearLayout>
    </ScrollView>
</LinearLayout>